*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(188, 68, 239);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background: #400748;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-bord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
       
}
#you-score,#comp-score{
    text-align: 3rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: rgb(25, 4, 79);
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem ;
}